:root {
  --foreground-rgb: 24, 79, 156;
  --background-start-rgb: 24, 79, 156;
  --background-end-rgb: 23, 92, 50;
}

body {
  height: 95vh;
  border: 5px solid #CD9801;
  border-radius: 5px;
  margin: 0px 8px 0px 8px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.set {
  width: 50%;
  display: inline-block;
}

.all-monster-container {
  display: inline-block;
  width: 78%;
}

.selected-monster {
  height: 75px;
  width: 75px;
  border: 1px solid white;
}

.talent-container {
  display: flex;
  float: left;
  width: 10%;
  border: 2px white solid;
  height: 70vh;
  margin-top: 16px;
  margin-left: 8px;
}

.talent-header {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

.talent-list {
  display: inline-block;
  text-align: center;
  color: white;
}

.talent-line-item {
  display: inline-block;
  text-align: center;
  color: white; 
}

.monster-container {
  width: 9%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-bottom: 8px;
}

.monster-details {
  background-color: #f8f4e3; /* Off-white background color */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10); /* Box shadow for the box */

  /* Text styles */
  color: #2d2d2d; /* Old ink-looking text color */
  font-family: 'Times New Roman', Times, serif; /* Adjust the font-family */
  font-size: 16px; /* Adjust the font size */
}

.parent-select {
  color: black;
}

.family-icon {
  height: 75px;
  width: 75px;
}

.icon-container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
  width: 10%;
  border: 2px white solid;
  height: 70vh;
  margin-right: 8px;
  margin-top: 16px;
}

.family-icon-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}